* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    color: white;
}

.dashboardWrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 6fr;
    font-family: "Source Code Pro", monospace;
}

.dashboardLeftSide {
    background-color: #181818;
    padding: 30px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboardLeftSide__topPart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.dashboardLeftSide__title {
    font-family: "Kaushan Script", cursive;
}

.dashboardLeftSide__searchIcon {
    cursor: pointer;
}

.newNoteButton {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
    color: white;
    margin: 30px 20px;
    padding: 10px 0px;
    background-color: #1C1C1C;
    cursor: pointer;
}

.sideTitle {
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 8px;
    padding: 0px 20px;
}

.groupItemsWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.groupItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    background-color: transparent;
    cursor: pointer;
}

.groupItem:hover {
    background-color: #1C1C1C;
}

.dashboardRightSide {
    padding: 30px 20px;
}

.userName {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 400;
}

.logoutWrapper {
    padding: 20px;
}

.logoutButton {
    width: 100%;
    background-color: #3c3c3c;
    padding: 12px 8px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
}

/* Note */

.notesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    overflow: scroll;
}

.noteItem {
    width: 310px;
    padding: 20px;
    background-color: #181818;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 3px;
}

.noteItem:hover {
    background-color: #303030;
}

.noteItem__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: 18px;
}

.noteItem-information__content {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.noteItem-information {
    display: flex;
    align-items: center;
    gap: 10px;
}

.noteItem-information__createdAt {
    opacity: 40%;
}

.noteItem-information__content {
    opacity: 60%;
}